*{
margin = 0;
padding = 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(230, 230, 210);
}



}

header {
  width = 100%;
  margin = 20px;
  bacground-color: rgb(220,242,176);
  color: rgb(41, 84, 56);
  text-align: center;
  border: none;
  border-radius: 0;
  padding: 20px 10px;
  margin-bottom: 20px;
}


div{
  width: 40%;
  background-color: rgb(189, 211, 255);
  border: 1px solid red;
  border-radius: 10px;
  /* top bottom then left and right for
  padding and margin */
  padding: 0px 10px;
  margin: 20px auto;
}

.step{
  overflow: hidden;
  background-color: rgb(215, 195, 228);
  margin: 20px auto;

}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


img{
  width: 25%;
  margin: 10px auto;
  padding: 15px;
  overflow: hidden;
  border-width: 7px;
  border-color: rhb(41, 84, 56);

}
/* .later-paragraph{
  background-color: orange;
  width: 65%;
} */
